@import "../variables";

.alert {
    width: 100%;
    background-color: $background;
    color: $foreground;
    border-color: $foreground;
    border-width: $btn-border-width;
    border-style: $btn-border-style;
    margin: $btn-margin;
    border-radius: $btn-radius;
    padding: $btn-padding;

    &.main {
        background-color: $theme-main;
        color: $background;
        border-color: $theme-main;

        &.inverse {
            color: $theme-main;
            background-color: $background;
        }
    }

    &.cool {
        background-color: $theme-cool;
        color: $background;
        border-color: $theme-cool;

        &.inverse {
            color: $theme-cool;
            background-color: $background;
        }
    }

    &.hot {
        background-color: $theme-hot;
        color: $background;
        border-color: $theme-hot;

        &.inverse {
            color: $theme-hot;
            background-color: $background;
        }
    }
}
