@import "../variables";

div.alert {
    width: 100%;
    background-color: $background;
    color: $foreground;
    border-color: $foreground;
    border-width: $btn-border-width;
    border-style: $btn-border-style;
    margin: $btn-margin;
    border-radius: $btn-radius;
    padding: $btn-padding;

    &.main {
        background-color: $theme-main;
        color: $background;
        border-color: $theme-main;

        &.inverse {
            color: $theme-main;
            background-color: $background;
        }
    }

    &.positive {
        background-color: $theme-positive;
        color: $background;
        border-color: $theme-positive;

        &.inverse {
            color: $theme-positive;
            background-color: $background;
        }
    }

    &.negative {
        background-color: $theme-negative;
        color: $background;
        border-color: $theme-negative;

        &.inverse {
            color: $theme-negative;
            background-color: $background;
        }
    }


}
