@import "../variables";

.badge {
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px 14px;

    &.inverse {
        border-width: $btn-border-width;
        border-style: $border-style;
    }

    &.main {
        background-color: $theme-default;
        color: $background;
        border-color: $theme-default;

        &.inverse {
            color: $theme-default;
            background-color: $background;
        }
    }

    &.cool {
        background-color: $theme-cool;
        color: $background;
        border-color: $theme-cool;

        &.inverse {
            color: $theme-cool;
            background-color: $background;
        }
    }

    &.negative {
        background-color: $theme-hot;
        color: $background;
        border-color: $theme-hot;

        &.inverse {
            color: $theme-hot;
            background-color: $background;
        }
    }
}
