@import "../variables";

.bar {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    background-color: $background;
    color: $foreground;

    &.top {
        position: fixed;
        top: 0;
    }

    &.bottom {
        position: fixed;
        bottom: 0;
    }

    &.main {
        background-color: $theme-default;
        color: $background;
        border-color: $theme-default;

        &.inverse {
            color: $theme-default;
            background-color: $background;
        }
    }

    &.cool {
        background-color: $theme-cool;
        color: $background;
        border-color: $theme-cool;

        &.inverse {
            color: $theme-cool;
            background-color: $background;
        }
    }

    &.hot {
        background-color: $theme-hot;
        color: $background;
        border-color: $theme-hot;

        &.inverse {
            color: $theme-hot;
            background-color: $background;
        }
    }
}
