@import "../variables";

.bar {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    background-color: $background;
    color: $foreground;

    &.top {
        position: fixed;
        top: 0;
    }

    &.bottom {
        position: fixed;
        bottom: 0;
    }
}
