@import "../variables";

.main {
    background-color: $theme-default;
    color: $background;
    border-color: $theme-default;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-default, 10%);
    }

    &.inverse {
        color: $theme-default;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-default, 10%);
        }
    }
}

.cool {
    background-color: $theme-cool;
    color: $background;
    border-color: $theme-cool;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-cool, 10%);
    }

    &.inverse {
        color: $theme-cool;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-cool, 10%);
        }
    }
}

.hot {
    background-color: $theme-hot;
    color: $background;
    border-color: $theme-hot;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-hot, 10%);
    }

    &.inverse {
        color: $theme-hot;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-hot, 10%);
        }
    }
}

