@import "../variables";

.main {
    background-color: $theme-main;
    color: $background;
    border-color: $theme-main;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-main, 10%);
    }

    &.inverse {
        color: $theme-main;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-main, 10%);
        }
    }
}

.cool {
    background-color: $theme-cool;
    color: $background;
    border-color: $theme-cool;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-cool, 10%);
    }

    &.inverse {
        color: $theme-cool;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-cool, 10%);
        }
    }
}

.warm {
    background-color: $theme-warm;
    color: $background;
    border-color: $theme-warm;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-warm, 10%);
    }

    &.inverse {
        color: $theme-warm;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-warm, 10%);
        }
    }
}

.hot {
    background-color: $theme-hot;
    color: $background;
    border-color: $theme-hot;
    transition: 0.4s;

    &:hover, &:focus {
        background-color: darken($theme-hot, 10%);
    }

    &.inverse {
        color: $theme-hot;
        background-color: $background;

        &:hover, &:focus {
            color: darken($theme-hot, 10%);
        }
    }
}
