/* Default colours */
$background: #fff;
$foreground: #000;

/* Themes */
$theme-main: #40415a;
$theme-positive: #2a8b9d;
$theme-negative: #d55161;

/* Borders */
$border-color: lightgray;
$border-width: 2px;
$border-style: solid;

/* Buttons */
$btn-radius: 2px;
$btn-rounded-radius: 20px;
$btn-margin: 5px;
$btn-padding: 10px;
$btn-border-width: 1px;
$btn-border-style: solid;
