@import "variables";

button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;

    &.main {
        background-color: $theme-main;
        color: #fff;
        border: 1px solid $theme-main;

        &.inverse {
            color: $theme-main;
            background-color: #fff;
        }
    }

    &.positive {
        background-color: $theme-positive;
        color: #fff;
        border: 1px solid $theme-positive;

        &.inverse {
            color: $theme-positive;
            background-color: #fff;
        }
    }

    &.negative {
        background-color: $theme-negative;
        color: #fff;
        border: 1px solid $theme-negative;

        &.inverse {
            color: $theme-negative;
            background-color: #fff;
        }
    }
}
