/* Default colours */
$background: #fff;
$foreground: #000;

/* Themes */
$theme-main: #336dcc;
$theme-positive: #0caf14;
$theme-negative: #af0c0c;

/* Borders */
$border-color: lightgray;
$border-width: 2px;
$border-style: solid;

/* Buttons */
$btn-radius: 2px;
$btn-rounded-radius: 20px;
$btn-margin: 5px;
$btn-padding: 10px;
$btn-border-width: 1px;
$btn-border-style: solid;
