/* Default colours */
$background: #fff;
$foreground: #000;

/* Themes */
$theme-main: blue;
$theme-positive: green;
$theme-negative: red;

/* Buttons */
$btn-radius: 2px;
$btn-margin: 5px;
$btn-padding: 10px;
$btn-border-width: 1px;
$btn-border-style: solid;
